<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="submit" 
                    class="btn btn-success"
                    [disabled]="!recipeForm.valid">Zapisz</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Anuluj</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Nazwa</label>
                        <input type="text" id="name" formControlName="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">URL Zdjęcia</label>
                        <input type="text" id="imagePath" formControlName="imagePath"class="form-control" #imagePath>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imagePath.value" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Przygotowanie</label>
                        <textarea type="text" id="description" formControlName="description" rows="6" class="form-control">
                    </textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Składniki</label>
                        <textarea type="text" id="ingredients" formControlName="ingredients" rows="3" class="form-control">
                        </textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>