<div class="row">
    <div *ngFor="let day of showedDays" class="col-xs-2 list-group-item list-group-item-heading">
        <div class="day-conteiner">
            <div class="day-header" style="font-size: small;">{{ day.date | customDate}}
            </div>
            <div class="meal-conteiner">
                <div class="row">
                    <div class="col-xs-12">
                        <div *ngIf="day.recipe != null; else noMeal">
                            <app-meal-slot *ngFor="let mealEl of day.recipe; 
                            let i = index" [recipe]="mealEl" [index]="i">
                            </app-meal-slot>
                            <div *ngIf="day.recipe < 5">
                                <app-empty-meal [date]="day.date"></app-empty-meal>
                            </div>
                        </div>
                        <ng-template #noMeal>
                            <app-empty-meal [date]="day.date"></app-empty-meal>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>